html {
  color-scheme: dark;
}

body {
  min-width: 320px;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: 0;
}

a {
  color: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
}
